@page
@model GoodsListShowModel
@using SpellLuckWXSmall.Models
@{
    ViewData["Title"] = "商品展示";
    ViewData["Index"] = 3;

    int pageIndex = Model.PageIndex;
}
<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="marketing">
    <div class="row">
        @if (Model.GoodsModelList != null && Model.GoodsModelList.Count > 0)
        {
            @foreach (var item in Model.GoodsModelList)
            {
                <div class="col-lg-4">
                    <figure style="width:350px;height:200px;overflow:hidden;">
                        <img class="img-responsive" src="/file/FileDownload?fileUrl=@item.GoodsListImage.FileUrlData[1]" />
                    </figure>
                    <h2 class="text-primary">@item.GoodsTitle</h2>
                    <p class="text-info">@item.GoodsDetail</p>
                    <p class="bg-danger">
                    原价：<span class="text-danger">@item.GoodsOldPrice</span> ￥ &nbsp;  
                    团价：<span class="text-danger">@item.GoodsPrice</span> ￥ &nbsp; 
                    购买方式：<span class="text-danger">@(item.GoodsPayType == 0 ? "2人团购" : item.GoodsPayType == 1 ? "3-6人团购" : "一分夺宝")</span></p>
                    <p><button class="btn btn-danger" data-target="#delGoodsModal" onclick="setDelGoodsId('@item.GoodsID.ToString()')" data-toggle="modal">删除</button></p>
                    @* asp-page-handler="delGoods" asp-route-goodsID="@item.GoodsID.ToString()" *@
                </div>
            }
        }
    </div>
</div>
<br />
<div class="col-xs-12 col-lg-9">
    <ul class="pagination pagination-lg">

        @if (Model.PageIndex != 0)
            {
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex - 1)">&laquo;</a></li>
        }
        @for (int i = 1; i < 10 && i < Model.PageCount + 1; i++)
            {
                if (Model.PageIndex + i <= Model.PageCount)
                {
                <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex + i - 1)">@(Model.PageIndex + i)</a></li>
            }
        }
        @if (Model.PageIndex + 1 < Model.PageCount)
            {
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex + 1)">&raquo;</a></li>
        }
    </ul>
</div>

<br style="clear:both;"/>

<div class="modal fade" id="delGoodsModal" tabindex="-1" role="dialog" aria-labelledby="sendGoodsTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="sendGoodsTitle">删除商品</h4>
            </div>
            <div class="modal-body">
                <div>
                    删除后不能恢复，请谨慎！
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消操作</button>
                <button type="button" onclick="delGoods()" class="btn btn-danger">删 除</button>
            </div>
        </div>
    </div>
</div>


<script>
    var delGoodsId = "";
    function delGoods() {
        location.href = "/GoodsListShow?goodsID=" + delGoodsId + "&handler=delGoods";
    }
    function setDelGoodsId(goodsId) {
        delGoodsId = goodsId;
    }
</script>