@page
@model GoodsListShowModel
@{
    ViewData["Title"] = "商品展示";
    int pageIndex = Model.PageIndex;
}
<h2>@ViewData["Title"]</h2>
<div class="container marketing">
    <div class="row">
        @foreach (var item in Model.GoodsModelList)
        {
            <div class="col-lg-4">
                <figure style="width:350px;height:200px;">
                    <img width="350" height="200" class="img-responsive" src="/file/FileDownload?fileUrl=@item.GoodsMainImages[0].FileUrlData[0]" />
                </figure>
                <h2>@item.GoodsTitle</h2>
                <p>@item.GoodsDetail</p>
                <p><a class="btn btn-danger">删除</a></p>
            </div>
        }
    </div>
    <div class="row">
        <ul class="pagination pagination-lg">
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex--)">&laquo;</a></li>
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex+=1)">@(Model.PageIndex + 1)</a></li>
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex+=2)">@(Model.PageIndex + 2)</a></li>
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex+=3)">@(Model.PageIndex + 3)</a></li>
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex+=4)">@(Model.PageIndex + 4)</a></li>
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex+=5)">@(Model.PageIndex + 5)</a></li>
            <li><a asp-page-handler="goPage" asp-route-pageIndex="@(Model.PageIndex++)">&raquo;</a></li>
        </ul>
    </div>
</div>