@page
@model IndexModel
@{
    ViewData["Title"] = "订单";
    ViewData["Index"] = 1;
}
<div class="container">
    <h2 class="sub-header">订单列表</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>订单号</td>
                    <td>订单商品</td>
                    <td>商品标题</td>
                    <td>商品颜色</td>
                    <td>商品尺寸</td>
                    <td>商品类型</td>
                    <td>订单金额</td>
                    <td>下单时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderList.Count(); i++)
                {
                    <tr>
                        <td>@Model.OrderList[i].OrderNumber</td>
                        <td><img src="/file/FileDownload?fileUrl=@Model.OrderList[i].GoodsInfo.GoodsListImage.FileUrlData[0]" /></td>
                        <td>@Model.OrderList[i].GoodsInfo.GoodsTitle</td>
                        <td>@Model.OrderList[i].GoodsInfo.GoodsColor</td>
                        <td>@Model.OrderList[i].GoodsInfo.GoodsRule</td>
                        <td>@(Model.OrderList[i].GoodsInfo.GoodsPayType == 0 ? "2人拼团" : Model.OrderList[i].GoodsInfo.GoodsPayType == 1 ? Model.OrderList[i].GoodsInfo.GoodsPayType + "人拼团" : "一分夺宝")</td>
                        <td>@Model.OrderList[i].OrderPrice</td>
                        <td>@Model.OrderList[i].CreateTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
