@page
@model IndexModel
@{
    ViewData["Title"] = "登录";
    ViewData["Index"] = -1000;
}
<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>
    <form class="form-signin" asp-page-handler="login" method="post">
        <h2 class="form-signin-heading">管理员@(Model.CAMOut == null ? "用户设置" : "登录")</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" id="inputEmail" asp-for="CAM.CompanyAccountName" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" asp-for="CAM.CompanyAccountPassword" class="form-control" placeholder="密码" required>
        <label for="inputVerifyPassword" class='sr-only @(Model.CAMOut == null ?"":"hidden")'>确认密码</label>
        <input type="password" id="inputVerifyPassword" asp-for="CAM.CompanyAccountVerifyPassword" 
               class='form-control @(Model.CAMOut == null ?"":"hidden")' placeholder="确认密码">
       
        <p class=' form-control  label-danger @(Model.ErrorAccount?"":"hidden")'>用户名或者密码有误！</p>
        <p class=' form-control  label-danger @(Model.ErrorVerify?"":"hidden")'>两次密码不一致！</p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">@(Model.CAMOut == null ? "提交设置" : "登录")</button>
    </form>
