@page
@model PayListModel
@{ ViewData["Title"] = "已付款列表";
    ViewData["Index"] = 4;
}
<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>
<h2 class="sub-header">已付款列表</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>微信订单号</td>
                <td>订单商品</td>
                <td>商品标题</td>
                <td>购买人</td>
                <td>头像</td>
                <td>商品颜色</td>
                <td>商品尺寸</td>
                <td>商品类型</td>
                <td>订单金额</td>
                <td>付款时间</td>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.AllJackPotList.Count(); i++)
            {

                @for(int j=0;j<Model.AllJackPotList[i].Participator.Count();j++){
                    <tr>
                        <td style="vertical-align:middle">@Model.AllJackPotList[i].Participator[j].WXOrderId</td>
                        <td style="vertical-align:middle"><img width="90" height="60" src="/file/FileDownload?fileUrl=@Model.AllJackPotList[i].JackGoods.GoodsListImage.FileUrlData[2]" /></td>
                        <td style="vertical-align:middle;max-width:100px;">@Model.AllJackPotList[i].JackGoods.GoodsTitle</td>
                        <td style="vertical-align:middle">@Model.AllJackPotList[i].Participator[j].AccountName</td>
                        <td style="vertical-align:middle"><img width="60" height="60" class="img-circle" src="@Model.AllJackPotList[i].Participator[j].AccountAvatar" /></td>


                        <td style="vertical-align:middle">@Model.AllJackPotList[i].Participator[j].GoodsColor</td>
                        <td style="vertical-align:middle">@Model.AllJackPotList[i].Participator[j].GoodsRule</td>
                        <td style="vertical-align:middle">@(Model.AllJackPotList[i].JackGoods.GoodsPayType == 0 ? "2人拼团" : @Model.AllJackPotList[i].JackGoods.GoodsPayType == 1 ?"多人拼团" : "一分夺宝")</td>
                        <td style="vertical-align:middle">@Model.AllJackPotList[i].JackPotPrice</td>
                        <td style="vertical-align:middle">@Model.AllJackPotList[i].CreateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    </tr>
                    }
            }

        </tbody>
    </table>
</div>
